<!-- basic design for explore page -->
<div class="col-xs-6">
  <% for @p in @posts %> <!-- erb function for posts -->
  <div class="panel panel-default"> <!-- defining pannels from bootstrap -->
  <div class="panel-body">
  <p><%= @p.content %></p> <!-- To display post content on explore page -->
</div>
</div>
<% end %> <!-- ruby function for end -->
</div>
