<!-- creating pannels for Home -->
<div class="row"> <!-- using bootstrap grid sysytem -->
<div class="col-xs-3">
  <div class="panel panel-default">  <!-- creating pannels for grid sysytm to render our views in pannels -->
  <div class="panel-body">
  <p>stats</p>
</div>
</div>
<div class="panel panel-default"> <!-- creating pannels for grid sysytm to render our views in pannels -->
  <div class="panel-body">
    <p>trends</p>
    </div>
    </div>
</div>
<div class="col-xs-6">
  <% for @p in @posts %> <!-- for displaying posts -->
  <div class="panel panel-default"> <!-- creating pannels for grid sysytm to render our views in pannels -->
  <div class="panel-body">
  <p><%= @p.content %></p> <!-- to display post content -->
</div>
</div>
<% end %> <!-- ruby function for end -->
</div>
<div class="col-xs-3">
  <div class="panel panel-default"> <!-- creating pannels for grid sysytm to render our views in pannels -->
  <div class="panel-body">
  <p>about</p>
</div>
</div
</div>
</div>
</div>
